<!DOCTYPE html>
<html lang="en">

<head>
    <!--LINKS AND LIBRARIES-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Digitize Hackathon : September 28-29">
    <meta name="keywords" content="Hackathon,Code,Coding,Programming">
    <meta name="author" content="Digitize">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- <object data="carousel.js"></object> -->


    <!--FAVICON-->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <title>Digitize III</title>

    <!-- Bootstrap core CSS -->
    <link rel="icon" href="/img/logo.ico">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles-->
    <link href="css/creative.min.css" rel="stylesheet">
    <!--END LINKS AND LIBRARIES-->

    <!-- <style>
        * {
            box-sizing: border-box
        }

        body {
            font-family: Verdana, sans-serif;
            margin: 0
        }

        .mySlides {
            display: none
        }

        img {
            vertical-align: middle;
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active,
        .dot:hover {
            background-color: #717171;
        }

        /* Fading animation */
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        @keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {

            .prev,
            .next,
            .text {
                font-size: 11px
            }
        }

        /* .modal-backdrop {
            opacity: 0.5 !important;
            background-color: transparent !important;
        } */
    </style> -->

    <script>
        $(document).ready(function () {
            showPopup();
        });

        function showPopup() {
            setTimeout(
                function () {
                    $('#popup2').modal('show');
                }, 2000);
        }
    </script>



</head>

<body id="page-top">
    <!-- NAVIGATION -->
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade dialog" id="popup2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Digitize Mentorship Program!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    As part of our initiative for encouraging students to use Computer Science to create projects that
                    impact their community, we have created a mentorship program where we will be pairing up high
                    schools students who are proficient in CS with middle/high school students from underrepresented
                    areas across the nation to teach them various aspects of CS. If you are interested, click Learn More
                    for more information and sign ups.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" style="color: white;" data-dismiss="modal"
                        onclick="window.open('mentorshipprogram.html');">Learn More</button>
                </div>
            </div>
        </div>
    </div>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
        <div class="container">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="img/logo.png" height="42"
                        width="42" style="border-radius: 50%;" /></a>
            </span>
            <a class="navbar-link js-scroll-trigger" href="index.html"> Digitize </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-link">
                        <a class="nav-link" href="themes.html">Themes</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link js-scroll-trigger" href="faq.html">FAQs</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link js-scroll-trigger" href="mentor.html">Mentors & Judges</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link js-scroll-trigger" href="team.html">Our Team</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link js-scroll-trigger" href="sponsors.html">Sponsors</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link js-scroll-trigger" href="pastyears.html">Earlier Years</a>
                    </li>
                    <li class="nav-link dropdown dropdown-hoverable">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="mentorshipprogram.html">Mentorship Program</a>
                        </div>
                    </li>

                    <!-- <script>
                        $('.dropdown-hoverable').hover(function () {
                            $(this).children('[data-toggle="dropdown"]').click();
                        }, function () {
                            $(this).children('[data-toggle="dropdown"]').click();
                        });
                    </script> -->

                    <!--
                    <li class="nav-item">
                        <a class="nav-link" style="color: #88C425;" href="https://digitize.typeform.com/to/NXWvSD">Register Now</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <!--END NAVIGATION-->

    <!--HEADER: go to css file to change the background image-->
    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto" style="margin-bottom:20px">
            <div class="row">
                <div style="text-align:center; margin: 70px; margin-top:400px; margin-right:550px;">
                    <h4 class="text-uppercase">
                        <strong> October, 2020</strong>

                    </h4>
                    <h4 class="text-uppercase">
                        <strong>Location: TBA</strong>

                    </h4>
                    <h4 class="text-uppercase">
                        <!-- <strong>Sign Ups Open!</strong> -->

                    </h4>
                </div>
                <div class="col-lg-8 mx-auto">
                    <!--BUTTONS START -->
                    <!--BUTTON TO SIGN UP SECTION-->
                    <!-- <a class="btn offset"
                        style="color: white; padding:15px; margin-top: 5px; margin-bottom: 80px; margin-right:40px"
                        target="_blank" href="">Judge/Mentor Sign Up</a>
                        <a class="btn offset" style="color: white; padding:15px; margin-top: 5px; margin-bottom: 80px"
                        target="_blank" href="">SIGN UP NOW</a> -->
                    <!--END BUTTONS TO SIGN UP-->
                    <!--<p class="text-faded mb-5"> Date/Time</p>-->
                </div>
                <!-- BUTTON STYLE -->
                <style>
                    .offset {
                        box-shadow: 0.3em 0.3em 0 0 #2369a8, inset 0.3em 0.3em 0 0 #1e73be;
                    }

                    .offset:hover {
                        box-shadow: 0 0 0 0 black, inset 6em 3.5em 0 0 #90d9b8;
                    }
                </style>
                <!--END BUTTON STYLE-->
                <!--END BUTTON-->
                <br>
            </div>
        </div>
    </header>


    <!--END HEADER-->
    <!--TIMER-->

    <!--<div class="countdown" style="border-left: 100px solid #1e73be; border-right: 100px solid #ffffff; border:#ffffff;padding: 30px;margin-top:20px">
        <h1 id="head">DIGITIZE HACKATHON COUNTDOWN</h1>
        <ul>
            <li class="countlist"><span class="countspan" id="days"></span>Days</li>
            <li class="countlist"><span class="countspan" id="hours"></span>Hours</li>
            <li class="countlist"><span class="countspan" id="minutes"></span>Minutes</li>
            <li class="countlist"><span class="countspan" id="seconds"></span>Seconds</li>
        </ul>
    </div>
    -->

    <!--END TIMER-->



    <!--ABOUT AND PICTURES-->
    <section class="bg-primary" id="about" style="height:600px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <!--ABOUT DIGITIZE DESCRIPTION-->
                    <table style="width:100%">
                        <tr>
                            <th style="width:50%">
                                <!--SLIDESHOW HTML-->
                                <!-- <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/O0RF9mUDwvk?autoplay=1" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe> -->
                                <style>
                                    #ytplayer {
                                        height: 200%;
                                        width: 100%;
                                        display: block;
                                        opacity: 1;
                                    }
                                </style>
                                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                                <script>
                                    // Load the IFrame Player API code asynchronously.
                                    var tag = document.createElement('script');
                                    tag.src = "https://www.youtube.com/player_api";
                                    var firstScriptTag = document.getElementsByTagName('script')[0];
                                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                                    // Replace the 'ytplayer' element with an <iframe> and
                                    // YouTube player after the API code downloads.
                                    var player;
                                    function onYouTubePlayerAPIReady() {
                                        player = new YT.Player('ytplayer', {
                                            height: '390',
                                            width: '640',
                                            playerVars: {
                                                autoplay: 0
                                            },
                                            videoId: 'O0RF9mUDwvk'
                                        });
                                    }



                                    var runOnce = false;

                                    $(window).scroll(function () {
                                        $("iframe").each(function () {
                                            if ($(window).scrollTop() + 200 > $(this).offset().top - 50) {
                                                // $(this).css('opacity',1);
                                                if (!runOnce) {
                                                    player.playVideo();
                                                    runOnce = true;
                                                }
                                            }
                                            //else {
                                            //     $(this).css('opacity',0);
                                            //     player.stopVideo();
                                            // }
                                        });
                                    });

                                </script>

                                <div id="ytplayer"></div>

                                <!--END SLIDESHOW HTML-->
                            </th>
                            <th style="width:50%; padding-left:5%">
                                <h2 class="section-heading text-white">About Digitize</h2>
                                <!-- <hr class="light my-4" style="center"> -->
                                <br><br>
                                <p class="text-faded mb-4">
                                    <!--Digitize is a hackathon for high school students in the Bay Area,
                                    taking place overnight from <b>September 28-29, 2019</b> from Saturday at 10am to Sunday at 1pm. Our
                                    goal is to educate students about computer science and programming by providing them with
                                    workshops and mentors, so by the end of the hackathon, each team will have a project to
                                    present in front of our judging panel.-->
                                    Digitize Hackathon III is a free 24 hour coding event for high school students in
                                    the Bay Area. We specifically focus on our three fundamental themes: Environmental
                                    Conservation, Health & Wellness, and Social Welfare, to encourage students to use
                                    technology for social good and create projects that impact the community.

                                    <br> <br>
                                    <a class="btn offset" style="color: white; padding:15px; margin-top: 5px;"
                                        href="faq.html">Learn More About Digitize</a>
                                    <!-- <a href="faq.html" style="color: white;">Learn more about Digitize</a> -->
                                </p>
                            </th>
                        </tr>
                    </table>
                    <!--END ABOUT DIGITIZE DESCRIPTION-->

                </div>
            </div>
        </div>
    </section>
    <!--END ABOUT-->


    <section>
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
        <div class="row">
            <div class="col-md-6">
                <br><br>
                <div class="slideshow-container">
                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/2019_1.jpg" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/2019_4.jpg" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/2019_3.jpg" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/work.jpg" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/attendees.jpg" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/signin.JPG" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/presentation.jpg" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/workshop.png" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/cupstacking.jpg" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                    <div class="mySlides w3-animate-fading">
                        <img src="img/eventpics/swag.jpg" style="width:70%; height: 70%; margin-left: 15%;">
                    </div>
                </div>
                <br>

                <!-- The dots/circles -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                    <span class="dot" onclick="currentSlide(7)"></span>
                    <span class="dot" onclick="currentSlide(8)"></span>
                    <span class="dot" onclick="currentSlide(9)"></span>
                    <span class="dot" onclick="currentSlide(10)"></span>
                </div>

                <script>
                    var slideIndex = 0;
                    showSlides();

                    function showSlides() {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("dot");
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                            // dots[i].className += "active";
                        }

                        slideIndex++;
                        if (slideIndex > slides.length) { slideIndex = 1 }
                        slides[slideIndex - 1].style.display = "block";
                        setTimeout(showSlides, 7000); // Change image every 2 seconds
                    }

                    // Thumbnail image controls
                    function currentSlide(n) {
                        showSlide(slideIndex = n);
                    }

                    function showSlide(n) {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("dot");
                        if (n > slides.length) { slideIndex = 1 }
                        if (n < 1) { slideIndex = slides.length }
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }
                        slides[slideIndex - 1].style.display = "block";
                        dots[slideIndex - 1].className += " active";
                    }
                </script>
            </div>
            <div class="col-md-6">
                <style>
                    .counter {
                        color: white;
                    }
                </style>
                <h3 class="section-heading" style="text-align: center;">Digitize By The Numbers</h3>
                <hr class="light my-4">
                <div class="faqshadow"
                    style="background-color: #90d9b8; width: 70%; height: 33%;  margin-left: 15%; margin-right: 15%;">
                    <h2 class="display-5 theme-icon text-white" style="text-align:center; color: black;"><i
                            class="fa fa-users" aria-hidden="true" style="color:white; display: inline-block;"></i>
                        <div class="counter" style="display: inline-block;" data-target="215">0</div>
                    </h2>
                    <h4 class="section-heading text-white"
                        style="text-align: center; text-transform: none; margin-top: 0px;">People have
                        attended Digitize</h4>
                </div>
                <br>
                <div class="faqshadow"
                    style="background-color: #90d9b8; width: 70%; height: 45%;  margin-left: 15%; margin-right: 15%;">
                    <h2 class="display-5 theme-icon text-white" style="text-align:center; color: black;">
                        <i class="fa fa-graduation-cap" aria-hidden="true"
                            style="color:white; display: inline-block;"></i>
                        <div class="counter" style="display: inline-block;" data-target="43">0</div>
                    </h2>
                    <h4 class="section-heading text-white"
                        style="text-align: center; text-transform: none; margin-top: 0px;">High
                        Schools have been a part of Digitize</h4>
                </div>

                <script>
                    const counters = document.querySelectorAll('.counter');
                    const speed = 400; // The lower the slower

                    $(window).scroll(function () {
                        counters.forEach(counter => {
                            const updateCount = () => {
                                const target = +counter.getAttribute('data-target');
                                const count = +counter.innerText;

                                // Lower inc to slow and higher to slow
                                const inc = target / speed;

                                // console.log(inc);
                                console.log(target);

                                // Check if target is reached
                                if ($(window).scrollTop() > 1200) {
                                    if (count < target) {
                                        // Add inc to count and output in counter
                                        counter.innerText = count + 1;
                                        // Call function every ms
                                        setTimeout(updateCount, 42);
                                    } else {
                                        counter.innerText = target;
                                    }
                                }
                            };

                            updateCount();
                        });
                    });
                </script>
            </div>
        </div>

    </section>


    <!--SCHEDULE SECTION-->
    <section class="bg-primary text-white" id="schedule">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center" style="text-align: center;">
                    <h2 class="section-heading">Digitize Schedule for 2020</h2>
                    <!-- <hr class="my-4"> -->
                    <br><br>
                </div>
            </div>
        </div>

        <!-- <style>
            body {
                line-height: 1.3em;
                min-width: 920px;
            }

            .history-tl-container {
                font-family: "Roboto", sans-serif;
                width: 50%;
                margin: auto;
                display: block;
                position: relative;
            }

            .history-tl-container ul.tl {
                margin: 20px 0;
                padding: 0;
                display: inline-block;

            }

            .history-tl-container ul.tl li {
                list-style: none;
                margin: auto;
                margin-left: 0px;
                min-height: 50px;
                /*background: rgba(255,255,0,0.1);*/
                border-left: 1px dashed #86D6FF;
                padding: 0 0 50px 30px;
                position: relative;
            }

            .history-tl-container ul.tl li:last-child {
                border-left: 0;
            }

            .history-tl-container ul.tl li::before {
                position: absolute;
                left: -18px;
                top: -5px;
                content: " ";
                border: 8px solid rgba(255, 255, 255, 0.74);
                border-radius: 500%;
                background: #258CC7;
                height: 20px;
                width: 20px;
                transition: all 500ms ease-in-out;

            }

            .history-tl-container ul.tl li:hover::before {
                border-color: #258CC7;
                transition: all 500ms ease-in-out;
            }

            ul.tl li .item-title {}

            ul.tl li .item-detail {
                color: rgba(0, 0, 0, 0.5);
                font-size: 12px;
            }

            ul.tl li .timestamp {
                color: #8D8D8D;
                position: absolute;
                width: 100px;
                left: -50%;
                text-align: right;
                font-size: 12px;
            }
        </style>

        <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
        <div class="history-tl-container">
            <div class="col-md-6" style="float:left">
                <h3 class="section-heading" style="text-align: left">Saturday</h3>
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 10:00-10:45 AM
                        </div>
                        <div class="item-title">Check In Begins</div>
                        <div class="item-detail">Entrance</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 11:00 AM
                        </div>
                        <div class="item-title">Opening Ceremony</div>
                        <div class="item-detail">Main Stage</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 12:00 PM
                        </div>
                        <div class="item-title">Lunch, Form Teams</div>
                        <div class="item-detail">Food Area</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 1:00 PM
                        </div>
                        <div class="item-title">Hacking Begins</div>
                        <div class="item-detail">Everywhere</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 1:30 PM
                        </div>
                        <div class="item-title">Workshop #1 : Intro to Java / Object Oriented Programming</div>
                        <div class="item-detail">Presentation Area</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 2:00 PM
                        </div>
                        <div class="item-title">Workshop #2 : Caching/App Development</div>
                        <div class="item-detail">Presentation Area</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 3:00 PM
                        </div>
                        <div class="item-title">Workshop #3 : Intro to HTML/CSS/JS</div>
                        <div class="item-detail">Presentation Area</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 5:30 PM
                        </div>
                        <div class="item-title">Game: Cup Stacking</div>
                        <div class="item-detail">Upstairs</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 6:00 PM
                        </div>
                        <div class="item-title">Workshop #4 : Backend Web Dev</div>
                        <div class="item-detail">Presentation Area</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 7:00 PM
                        </div>
                        <div class="item-title">Dinner & Movie</div>
                        <div class="item-detail">Food Area</div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="timestamp">
                            October 2020<br> 12:00 PM
                        </div>
                        <div class="item-title">Midnight Snack</div>
                        <div class="item-detail">Food Area</div>
                    </li>
                </ul>

            </div>
        </div>

        <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
        <div class="history-tl-container" style="float:right;">
            <center>
                <div class="col-md-6">
                    <h3 class="section-heading" style="float: left;">Sunday</h3>
                    <ul class="tl">
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                October 2020<br> 1:00 AM
                            </div>
                            <div class="item-title" style="text-align: left;">Super Smash Bros Brawl Wii Tournament
                            </div>
                            <div class="item-detail" style="text-align: left;">Upstairs</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                October 2020<br> 7:00 AM
                            </div>
                            <div class="item-title" style="text-align: left;">Breakfast</div>
                            <div class="item-detail" style="text-align: left;">Food Area</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                October 2020<br> 8:30-9:00 AM
                            </div>
                            <div class="item-title" style="text-align: left;">Workshop #5 : Presentation Skills :
                                Pitching a Project</div>
                            <div class="item-detail" style="text-align: left;">Presentation Area</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                October 2020<br> 8:50 AM
                            </div>
                            <div class="item-title" style="text-align: left;">Submissions</div>
                            <div class="item-detail" style="text-align: left;">Everywhere</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                October 2020<br> 9:30 PM
                            </div>
                            <div class="item-title" style="text-align: left;">Hacking Ends!</div>
                            <div class="item-detail" style="text-align: left;">Presentation Area</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                October 2020<br> 9:30-12:00 PM
                            </div>
                            <div class="item-title" style="text-align: left;">Project Pitching</div>
                            <div class="item-detail" style="text-align: left;">Presentation Area</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                October 2020<br> 12:00 PM
                            </div>
                            <div class="item-title" style="text-align: left;">Juding</div>
                            <div class="item-detail" style="text-align: left;">Presentation Area</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                October 2020<br> 12:30-1:00 PM
                            </div>
                            <div class="item-title" style="text-align: left;">Closing Ceremony + Awards</div>
                            <div class="item-detail" style="text-align: left;">Presentation Area</div>
                        </li>
                    </ul>

                </div>
            </center>

        </div> -->

        <div class="container" style="overflow: auto">
            <div class="col-md-6" style="float:left">
                <h3 class="section-heading" style="text-align: center">Saturday</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Event</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10:00 am - 10:45 am</td>
                            <td>Check-in Begins</td>
                            <td>Back Entrance</td>
                        </tr>
                        <tr>
                            <td>11:00 am</td>
                            <td>Opening Ceremony</td>
                            <td>Main Stage</td>
                        </tr>
                        <tr>
                            <td>12:00 pm</td>
                            <td>Lunch (Form Teams)</td>
                            <td>Food Area</td>
                        </tr>
                        <tr>
                            <td>1:00 pm</td>
                            <td>Hacking Begins!</td>
                            <td>Everywhere</td>
                        </tr>
                        <tr>
                            <td>1:30 pm</td>
                            <td>Workshop #1 : Intro to Java / Object Oriented Programming</td>
                            <td>Presentation Area</td>
                        </tr>
                        <tr>
                            <td>2:00 pm</td>
                            <td>Workshop #2 : Caching/App Development</td>
                            <td>Presentation Room</td>
                        </tr>
                        <tr>
                            <td>3:00 pm</td>
                            <td>Workshop #3 : Intro to HTML/CSS/JS </td>
                            <td>Presentation Room</td>
                        </tr>
                        <tr>
                            <td>5:30 pm</td>
                            <td>Game : Cup Stacking</td>
                            <td>Upstairs</td>
                        </tr>
                        <tr>
                            <td>6:00 pm</td>
                            <td>Workshop #4 : Backend Web Dev</td>
                            <td>Presentation Room</td>
                        </tr>
                        <tr>
                            <td>7:00 pm</td>
                            <td>Dinner & Movie</td>
                            <td>Food Area</td>
                        </tr>
                        <tr>
                            <td>12:00 am</td>
                            <td>Midnight Snack</td>
                            <td>Food Area</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6" style="float:right">
                <h3 class="section-heading" style="text-align: center;">Sunday</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Event</th>
                            <th scope="col">Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1:00 am</td>
                            <td>Super Smash Bros Brawl Wii Tournament</td>
                            <td>Presentation Room</td>
                        </tr>
                        <tr>
                            <td>7:00 am</td>
                            <td>Breakfast</td>
                            <td>Food Area</td>
                        </tr>
                        <tr>
                            <td>8:30 am - 9 am </td>
                            <td>Workshop #5 : Presentation Skills : Pitching a Project</td>
                            <td>Presentation Room</td>
                        </tr>
                        <tr>
                            <td>8:50 am</td>
                            <td>Submissions</td>
                            <td>Presentation Room</td>
                        </tr>
                        <tr>
                            <td>9:30 am</td>
                            <td>Hacking Ends!</td>
                            <td>Everywhere</td>
                        </tr>
                        <tr>
                            <td>9:30 am - 12:00 am</td>
                            <td>Project Pitching</td>
                            <td>Main Stage</td>
                        </tr>
                        <tr>
                            <td>12:00 am</td>
                            <td>Judging</td>
                            <td>Presentation Room</td>
                        </tr>
                        <tr>
                            <td>12:30 am - 1 pm</td>
                            <td>Closing Ceremony + Awards</td>
                            <td>Main Stage</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!--END SCHEDULE SECTION-->



    <!--END SPONSORS-->
    <!-- </section> -->
    <!--END SPONSORS SECTION-->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
</body>

<footer class="container-fluid text-center">
    <style>
        .fa {
            padding: 15px;
            font-size: 35px;
            color: #43b5ff;
        }

        .fa:hover {
            color: #cefde2;
            text-decoration: none;
        }
    </style>

    <div class="row">
        <!--FIRST CONTACT COLUMN-->
        <div class="col-sm-4">
            <h3 class="btn">Contact us</h3>

            <br />
            <ul class="list-group list-group-flush" style="background-color: #1e73be; ">
                <li style=" color:#000;font-size:15px;" class="list-group-item">
                    <p class=" display-5">GENERAL INQUIRIES : <a
                            href="mailto:general@digitizehackathon.tech">general@digitizehackathon.tech</a></p>
                </li>
                <li style=" color:#000;font-size:15px;" class="list-group-item">
                    <p class=" display-5">SPONSORS : <a
                            href="mailto:sponsors@digitizehackathon.tech">sponsors@digitizehackathon.tech</a></p>
                </li>
            </ul>
        </div>
        <!--END FIRST CONTACT COLUMN-->
        <!--CONNECT COLUMN-->
        <div class="col-sm-4">
            <h3 class="btn">Connect with us</h3>
            <hr my-4 />
            <div class="container">
                <a href="https://www.facebook.com/digitize.hackathon.3" target="_blank" class="fa fa-facebook"></a>
                <a href="https://twitter.com/digitizehacks" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.instagram.com/digitizehackathon/" target="_blank" class="fa fa-instagram"></a>
            </div>
            <p>Copyright © 2020-2021 Digitize. All rights reserved.</p>
        </div>
        <!--END CONNECT COLUMN-->
        <!--THIRD CONTACT COLUMN-->
        <div class="col-sm-4" id="helpus">
            <h3 class="btn"> Help Us! </h3>

            <br />
            <ul class="list-group list-group-flush" style="background-color: #1e73be; ">
                <li style=" color:#000;font-size:15px;" class="list-group-item"><a target="_blank"
                        href="img/sponsorship_prospectus.pdf" style="color:black;" class=" display-5">Be a Sponsor</a>
                </li>
                <li style=" color:#000;font-size:15px;" class="list-group-item"><a target="_blank"
                        href="https://tinyurl.com/digitizementorspeaker" style="color:black;" class=" display-5">Be a
                        Mentor, Speaker, or Workshop Leader</a></li>
                <li style=" color:#000;font-size:15px;" class="list-group-item"><a target="_blank"
                        href="img/food_sponsorship_prospectus.pdf" style="color:black;" class=" display-5">Give Us
                        Food!</a></li>
            </ul>
        </div>
        <!--END THIRD CONTACT COLUMN-->
    </div>
</footer>

</html>